* {
    font-family: 'Poor Story', cursive;
    font-weight: bold;
}

.wrap {
    margin: 0 auto;
    background-color: #3b9446;
    width: 480px;
    height: 800px;
    border: 1px solid #b4b4b4;
    box-shadow: 10px 10px 10px #b4b4b4;
    position: relative;
}

.status_box {
    width: inherit;
    height: 470px;
    background-color: #941219;
}

.status_box span {
    display: block;
    text-align: center;
    line-height: 30;
    color: #fff;
    font-size: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    position: absolute;
    float: left;
    margin: -75px 0 0 165px;
}

.profile-img > h3 {
    text-align: center;
    color: white;
    margin-top: 10px;
}

.profile-img > img {
    border-radius: 75px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-box {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 150px 10px 20px 20px;
}

.button-box > img {
    padding: 20px;
    width: 60px;
    height: 60px;
}

.funcs > .button-box:nth-child(1) {
    margin-left: 65px;
}

.button-box > span {
    color: white;
}